In [2]:
import pandas as pd
import numpy as np

In [16]:
users = pd.read_csv('2018_02_20_Users.csv', encoding = "ISO-8859-1")

In [19]:
users.head(n=5)

,userHash (S),currentLocation (S),education1location (S),education1name (S),education2location (S),education2name (S),education3location (S),education3name (S),gender (S),hometown (S),...,work1role (S),work2location (S),work2name (S),work2role (S),work3location (S),work3name (S),work3role (S),work4location (S),work4name (S),work4role (S)
0,-318129462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,635926102,NaN,"Redmond, Washington",Redmond High School,"Redmond, Washington",University of Washington,NaN,NaN,Male,NaN,...,Software Developer,"San Jose, CA",Cisco,Software Engineering Intern,"Seattle, WA",Seattle Youth Symphony Orchestra,Data entry clerk,NaN,NaN,NaN
2,-1748993256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1318276747,Princeton,NaN,NaN,NaN,NaN,NaN,NaN,Female,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2109566321,NaN,"Redmond, WA",Redmond High School,"Redmond, WA",Princeton University,NaN,NaN,Female,"Sammamish, WA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
articles = pd.read_csv('2018_02_20_Articles.csv', encoding = "ISO-8859-1")

In [22]:
articles.head(n=5)

,userHash (S),articleURL (S),articleClicked (BOOL),articleClickedTime (S),articleComments (L),articlePopularity (L),articleSeenTime (L),articleSharedTime (L),articleTitle (S),sharerHash (L)
0,-318129462,http://bit.ly/Timoth%C3%A9e-Armie-YOU,True,"Sun, 11 Feb 2018 02:44:44 GMT",[],[],"[ { ""S"" : ""Sun, 11 Feb 2018 02:44:44 GMT"" }]",[],NaN,[]
1,-318129462,http://eonli.ne/2BZ0vBf,True,"Fri, 16 Feb 2018 17:28:00 GMT",[],[],"[ { ""S"" : ""Fri, 16 Feb 2018 17:28:00 GMT"" }]",[],NaN,[]
2,-318129462,http://www.eonline.com/news/911768/jamie-dorna...,True,"Fri, 16 Feb 2018 17:28:08 GMT",[],[],"[ { ""S"" : ""Fri, 16 Feb 2018 17:28:08 GMT"" }]",[],NaN,[]
3,-318129462,https://offbeat.topix.net/slideshow/18943,True,"Sun, 11 Feb 2018 02:52:14 GMT",[],[],"[ { ""S"" : ""Sun, 11 Feb 2018 02:52:14 GMT"" }]",[],NaN,[]
4,-318129462,https://rewire.news/article/2018/02/14/south-a...,True,"Fri, 16 Feb 2018 17:18:31 GMT",[],[],"[ { ""S"" : ""Fri, 16 Feb 2018 17:18:29 GMT"" }]",[],NaN,[]

In [25]:
articles.count()

userHash (S)              2654
articleURL (S)            2654
articleClicked (BOOL)     2654
articleClickedTime (S)    1501
articleComments (L)       2654
articlePopularity (L)     2654
articleSeenTime (L)       2654
articleSharedTime (L)     2654
articleTitle (S)          1441
sharerHash (L)            2654
dtype: int64

In [31]:
len(articles[articles['articleClicked (BOOL)'] == True])

1501

In [32]:
1501/2654

0.5655614167294649

In [35]:
articles['userHash (S)'].value_counts()

-1428200504    202
 1832382593    185
-1996060419    177
 1062321464    174
-1717522715    164
 1191446084    115
-311072531     110
 2109566321    103
-939716385      84
 1185519956     80
 505107284      78
-1245150496     78
 998940495      68
 2044433857     60
 167914554      56
-1318461357     55
 1813666528     43
-1802698488     40
-461920787      36
-1719961888     34
-2024984007     32
 539240538      30
-1168182452     29
 735601391      26
-1254867316     25
 1425673437     23
 1114831908     23
 2145402863     23
-1174051134     22
 374295240      21
              ...
-767230508       2
 65960851        2
 1960060685      2
 131689663       2
 163150598       2
 973286334       2
 1111278273      2
 760355258       2
 479256079       2
 443533532       2
-683297031       2
 288825560       2
 266303681       2
-134275538       1
 138062533       1
 995544962       1
-1635331914      1
 1976286385      1
-2142194433      1
 1614211993      1
 1377846559      1
 391831389       1
 213200086       1
-63548466        1
 50589125        1
-1219443324      1
-840230938       1
-1795942317      1
 438976383       1
-80232382        1
Name: userHash (S), dtype: int64